AWS_REGION=eu-west-2
S3_BUCKET=readmission-lake-vishalini SNOWFLAKE_ACCOUNT=CPCOGTR-CJ37049
SNOWFLAKE_USER=VISHALINI
SNOWFLAKE_PASSWORD=Vinasuba141600
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=READMIT_WH
SNOWFLAKE_DATABASE=READMIT
SNOWFLAKE_SCHEMA=RAW
